

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration form</title>
<style>
 body{
        
        background-color: aqua;
        text-align: center;
        
    }
</style>
 
<title>Simple registration form</title>
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
	rel="stylesheet">

<style>
</style>
</head>

<body>
    
	
	<p th:text=${msg} />
	<p th:text=${message} />
	<p th:text=${remove}>

<a href="javascript:history.back()">Go Back</a>
</body>
</html>



